:root{
    --laranja: #FFA300;
    --verde: #7EE600;
    --azul: #08FCEB;
    --azul2: #3605E6;
    --vermelho: #FF0000;


    
}
*{
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
    height: 300px;
    display: block;
    background-color: #FFA300;

}
article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: #7EE600;
    display: flex;

}

aside{
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: #FF0000;

}
footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: #3605E6;
}
main{
    


}

.Festas{
    width: 300px;
    height: 116px;
    display: block;
    align-items: center;
    border: 1px solid black ;
    background-color: seagreen;
}

.Porto{
    width: 300px;
    height: 370px;
    background-color: coral;
    border: 1px solid black;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 5%;
    


}
#foto2{
    width: 300px;
    height: 290px;
}

#foto3{
    width: 300px;
    height: 200px;
}
